estilos.css - login.html

<style type="text/css">

        body {
            padding-left: 11em;
            padding-right: 11em;
            padding-top: 2em;
            color: rgb(7, 7, 7);
            background-color: #f19491b2;
            font-family: Georgia, "Times New Roman";
        }

        #boton{
            margin-left: 7em;
        }
    </style>
