#borde{
    border-style: double ;
    background-color: #CCD1D1;
    margin: 25px 50px 75px 100ox;
    text-align: center;
}
.acceso{
    border-style: solid;
    border-width: 5px;
    border-color: blueviolet;
    border-radius: 20px;
    background-color: #CCD1D1;
    margin: 25px 50px 75px 100ox;
    text-align: center;
    padding: 20px 0px 20px 0px;

}
.fondo{
    background-color: #a2eadb ;
}
.footer{
    
    text-align: center;
}
