h1{
    color:#aa1e1e;
    font-family: 'Times New Roman', Times, serif;
}
.formulario{
    background-color: rgba(139, 137, 137, 0.288);
    border: rgb(131, 131, 125) 1px;
    border-radius: 20px;
}
body{
    background-color: cadetblue;
}

footer{
    background: rgb(146, 146, 146);
    color: black;
}
header{
    background: rgb(247, 245, 250);
}

h2{
    color: black;
}
.contenedor{
    background-color: cadetblue;
}
.botoon{
    border-radius: 4px;
    color: rgb(253, 253, 253);
    border-style: outset;
    background-image: url(https://img.freepik.com/vector-gratis/disenos-tatuajes-flash-vintage-patrones-fisuras_225004-1539.jpg?w=2000);
    background-position: center;
}
.parrafo{
    color: cadetblue;
    border-style: outset;
    border-radius: 10px;
    border-color: yellowgreen;
}


