h1 {
    color: rgb(0, 0, 0);
    padding: 38px 200px 20px 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2 {
    padding: 28px 200px 25px 4px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.col {
    line-height: 27px;
    width: 200px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.log {
    padding: 4px 0px 4px 0px;
    margin: 4px 100px 4px 100px;
}

.l {
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    border: 2px solid rgb(0, 81, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 33, 33);
    background-color: rgb(255, 213, 122);

}

.boton1 {
    padding: 4px 7px 4px 7px;
    margin: 15px 100px 4px 4px;
    position: relative;
    left: 148px;
}

.nr {
    margin: 20px 50px 0px 60px;
}

.formulario1 {
    border: solid 2px rgb(0, 0, 0);
    border-radius: 20px;
    background: radial-gradient(circle, rgba(59, 149, 255, 1) 0%, rgba(44, 236, 255, 1) 100%);
    padding: 50px;
    margin: 30px 100px 30px 100px;

}

header {
    background: rgb(38, 146, 196);
}

footer {
    line-height: 1cm;
    background: rgb(38, 146, 196);
}