h1{
    color:blue; 
}
.formulario1{
    background-color: rgb(148, 231, 231);
    border: salmon 1px;
    border-radius: 20px;
}


footer{
    background: rgb(198, 118, 118);
}
header{
    
}